/* Cards - Portfolio */
.cards.portfolio .portfolio-card-container {
  display: grid;
  gap: 16px; /* added gap for consistency */
}

.cards.portfolio .small-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 16px;
  column-gap: 16px;
}

.cards.portfolio .small-card {
  display: flex;
  width: 100%;
  height: 100%;
  perspective: 600px; /* animation */
  min-height: 325px;
}

.cards.portfolio .small-card .wrapper {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
}

.cards.portfolio .small-card .card-images {
  position: relative;
  height: 100%;
  width: 100%;
}

.cards.portfolio .small-card .card-images picture:first-of-type {
  position: relative;
}

.cards.portfolio .small-card .card-images picture:last-of-type {
  position: absolute;
  left: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.cards.portfolio .small-card .card-images:hover picture:first-of-type img {
  opacity: 0.9;
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

.cards.portfolio .small-card .card-images:hover {
  overflow: hidden;
  border-radius: 5px;
}

.cards.portfolio .small-card .card-images picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cards.portfolio .small-card .card-images.featured span {
  position: absolute;
  top: 0;
  color: #000;
  z-index: 2;
  padding: 0.5rem 0.75rem;
  font-size: 20px;
  font-weight: 900;
}

.cards.portfolio .small-card .card-images .demo-title {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #000;
  background-color: #fff;
  z-index: 2;
  padding: 0.5rem 1rem;
  font-size: 18px;
  font-weight: 900;
}

.cards.portfolio .small-card .card-info {
  transform: rotateY(180deg);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards.portfolio .small-card .card-info .demo-site-link {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.75rem 1rem; 
  color: #000;
  width: fit-content;
}

.cards.portfolio .small-card .card-info .demo-site-link:hover {
  text-decoration: none;
  background-color: #AD0300;
  color: #fff;
  transition-duration: 0.3s;
  border: 1px solid transparent;
}

.cards.portfolio .small-card .card-info p {
  font-size: 14px;
  margin: 0;
}

.cards.portfolio .small-card .card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.cards.portfolio .small-card .card-flip.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.cards.portfolio .small-card .card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

@media (min-width: 1301px) {
  .cards.portfolio .small-card-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .cards.portfolio .small-card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .cards.portfolio .small-card-container {
    grid-template-columns: 1fr;
  }
  .cards.portfolio .small-card .card-info {
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .cards.portfolio .small-card .card-info p {
    font-size: 12px;
  }
}
/* End of Cards - Portfolio */