main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 500px;
}

.hero h1,
.hero h4 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero h1 {
  margin-bottom: 0;
  margin-top: 10%;
}

.hero h4 {
  margin-top: 0;
  font-size: 24px;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width <= 768px) {
  .hero h1 {
    margin-top: 100%;
  }

  .hero h1,
  .hero h4 {
    margin-left: 0;
    width: 65%;
    line-height: normal;
    margin-bottom: 0.5rem;
  }
}