footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1400px;
  margin: auto;
}

footer .footer .default-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

footer .footer p {
  margin: 0;
  font-size: 14px;
}

footer .footer img {
  width: 55px;
  height: auto;
}

@media (width <= 768px) {
  footer .footer .default-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}